<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['']" routerLinkActive="router-link-active">Task Management</a>
    <!-- <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button> -->
    <!-- Navbar Search  -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <!---
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search"
                aria-describedby="basic-addon2" />
            <div class="input-group-append">
                <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
            </div>
        </div>
    -->
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <!-- <a class="dropdown-item" href="#">Settings</a><a class="dropdown-item" href="#">Activity Log</a> -->
                <!-- <div class="dropdown-divider"></div> -->
                <a class="dropdown-item" [routerLink]="['/logout']" routerLinkActive="router-link-active">Logout</a>
            </div>
        </li>
    </ul>
</nav>


<!--Modal Task Assigment-->
<div class="modal fade" id="assignTaskForm" tabindex="-1" role="dialog" aria-labelledby="assignTaskFormLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNewTaskModalLabel">Assign Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="assignTaskForm">
                    <div class="form-group">
                        <label class="small mb-1" for="inputAssignTaskTaskId">Employee to assign</label>
                        <select formControlName="assigned_to_login_access_id" id="inputAssignTaskTaskId"
                            (change)="refineForm('project_id')" class="form-control form-control-lg">
                            <option [ngValue]="employee.login_access_id"
                                *ngFor="let employee of assignTaskForm_emoloyeeList">
                                {{employee.fname}} {{employee.mname}} {{employee.lname}}</option>
                        </select>
                        <span class="text-danger"
                            [hidden]="!(assignTaskForm.get('assigned_to_login_access_id').touched && assignTaskForm.get('assigned_to_login_access_id').errors?.required)">
                            Field cannot be empty
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="small mb-1" for="inputAssignTaskComment">Assignmet Comment</label>
                        <input formControlName="assignment_comment" class="form-control form-control-sm py-4"
                            id="inputAssignTaskComment" type="email" placeholder="Assignmet Comment" />
                        <span class="text-danger"
                            [hidden]="!(assignTaskForm.get('assignment_comment').touched && assignTaskForm.get('assignment_comment').errors?.required)">
                            Field cannot be empty
                        </span>
                    </div>
                </form>
                <div class="alert alert-danger" role="alert" *ngIf="this.errorMessage">
                    {{ this.errorMessage }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="taskAssignFormCancelBtn" class="btn btn-secondary" data-dismiss="modal"
                    (click)="assignTaskFormCancel()">Close</button>
                <button type="submit" class="btn btn-primary" (click)="assignTaskFormSubmit()">Assign</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="addNewTaskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNewTaskModalLabel">Add a new task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addNewTaskForm">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small mb-1" for="inputTaskName">Task Name</label>
                                <input formControlName="name" class="form-control form-control-sm py-4"
                                    id="inputTaskName" type="email" placeholder="Enter task name" />
                                <span class="text-danger"
                                    [hidden]="!(addNewTaskForm.get('name').touched && addNewTaskForm.get('name').errors?.required)">
                                    Field cannot be empty
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small mb-1" for="inputTaskEstimatedHours">Estimated hours</label>
                                <input formControlName="estimated_hours" class="form-control form-control-sm py-4"
                                    id="inputTaskEstimatedHours" type="type" placeholder="Enter estimated hours" />
                                <span class="text-danger">
                                    <span
                                        [hidden]="!(addNewTaskForm.get('estimated_hours').touched && addNewTaskForm.get('estimated_hours').errors?.required)">
                                        Field cannot be empty
                                    </span>
                                    <span
                                        [hidden]="!(!addNewTaskForm.get('estimated_hours').pristine && addNewTaskForm.get('estimated_hours').errors?.pattern)">
                                        Invalid estimated hours
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="small mb-1" for="inputTaskDescription">Description</label>
                        <input formControlName="description" class="form-control form-control-sm py-4"
                            id="inputTaskDescription" type="text" placeholder="Enter task Description" />
                        <span class="text-danger"
                            [hidden]="!(addNewTaskForm.get('description').touched && addNewTaskForm.get('description').errors?.required)">
                            Field cannot be empty
                        </span>
                    </div>


                    <div class="form-group">
                        <label class="small mb-1" for="inputTaskProjectId">Project Id</label>
                        <!-- refineForm('project_id') -->
                        <select formControlName="project_id" id="inputTaskProjectId"
                            (click)="getProjectSpecificTasks(addNewTaskForm.get('project_id').value)"
                            class="form-control form-control-lg">

                            <option [ngValue]="project.project_id" *ngFor="let project of assignableProjectList">
                                {{project.name}}</option>
                        </select>
                        <span class="text-danger"
                            [hidden]="!(addNewTaskForm.get('project_id').touched && addNewTaskForm.get('project_id').errors?.required)">
                            Field cannot be empty
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="small mb-1" for="inputParentTask">Assign Parent Task</label>
                        <select formControlName="parent_task_details_id" id="inputParentTask"
                            class="form-control form-control-lg">
                            <option></option>
                            <option [ngValue]="task.task_details_id" *ngFor="let task of assignableParentTaskList">
                                {{task.name}}</option>
                        </select>
                    </div>

                    <!--
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small mb-1" for="inputTaskAssignedEmployee">Assign
                                    Employee</label>
                                <select formControlName="assigned_to_login_access_id" id="inputTaskAssignedEmployee"
                                    (change)="refineForm()" class="form-control form-control-lg">
                                    <option></option>
                                    <option [ngValue]="employee.login_access_id"
                                        *ngFor="let employee of assignableManagerEmployeeList">
                                        {{employee.fname}}
                                        {{employee.mname}} {{employee.lname}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small mb-1" for="inputParentTask">Assignment Comment</label>
                                <input formControlName="assignment_comment" class="form-control form-control-sm py-4"
                                    id="inputTaskDescription" type="text" placeholder="Enter task Description" />
                                <span class="text-danger"
                                    [hidden]="!(addNewTaskForm.get('assignment_comment').touched && addNewTaskForm.get('assignment_comment').errors?.required)">
                                    Field cannot be empty
                                </span>
                            </div>
                        </div>
                    </div>

                -->
                </form>

                <div class="alert alert-danger" role="alert" *ngIf="this.errorMessage">
                    {{ this.errorMessage }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="addNewTaskFormCancelBtn" class="btn btn-secondary" data-dismiss="modal"
                    (click)="addNewTaskSubmitCancel()">Close</button>
                <button type="submit" class="btn btn-primary" (click)="addNewTaskSubmit()">Create</button>

            </div>

        </div>
    </div>
</div>
<!-- End Modal -->







<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">

                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                {{ this.loggedInAs.fname }} {{ this.loggedInAs.mname }} {{ this.loggedInAs.lname }}
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Tasks</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Task List</li>
                </ol>

                <div class="card mb-4">
                    <div class="card-header">
                        <div class="form-group">
                            <button id="addNewBtn" class="btn btn-primary" type="button" data-toggle="modal"
                                data-target="#addNewTaskModal" (click)="refreshList()">
                                Add New
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <span [hidden]="allTaskList">No task Found</span>
                            <table [hidden]="!allTaskList" id="taskTable" class="table table-bordered" id="dataTable"
                                width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>Task Name</th>
                                        <th>Parent Task Id</th>
                                        <th>Project Name</th>
                                        <th>Assigned Employee</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let task of allTaskList">
                                        <td>{{ task.task_details_id }}</td>
                                        <td>{{ task.name }}</td>
                                        <td>{{ task.parent_task_details_id }}</td>
                                        <td>{{ task.project_id.name }}</td>
                                        <td>
                                            <span
                                                *ngIf="task.assigned_to_employee">{{ task.assigned_to_employee.fname }}
                                                {{ task.assigned_to_employee.mname }}
                                                {{ task.assigned_to_employee.lname }}</span>
                                        </td>
                                        <td>
                                            <button class="btn btn-primary" class="btn btn-primary" type="button"
                                                data-toggle="modal" data-target="#assignTaskForm"
                                                (click)="onClickTaskAssignButton(task.project_id.project_id, task.task_details_id)"
                                                [hidden]="task.assigned_to_employee">Assign</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>